body{
  font-family: Raleway;
}
img{
  vertical-align: bottom;
}
a{
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.inner{
  margin: 0 auto;
  max-width: 1100px;
}
.header{
  padding: 15px 0;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  z-index: 10;
}
.kaminari{
  float: left;
}
.bolt{
  color: #777;
}
.menu_btn{
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color:#74cfae;
  color: #FFF;
  text-decoration: none;
}
.main{
  padding-top: 78px;
}
.bolt_them_wrap{
  padding-top: 250px;
  padding-bottom: 250px;
  background-color: #f2f2f2
}
.title{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  margin-bottom: 20px;
}
.headline__text{
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.phone_wrap{
  background-color: #74cfae;
  padding-top: 50px;
  text-align: center;
}
/* .grid{
  margin: 0px -15px;
  font-size: 0px;
}
.dis_block{
  display: inline-block;
}
.vert{
  vertical-align: top;
} */
  /* width: 30%; */
.phone{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.mainbox{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  color: #FFF;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.maintitle__text{
  margin-bottom: 35px;
  font-size: 24px;
}
.maintext__text{
  width: 590px;
  font-size: 20px;
  margin: 0 auto;
}
.our_wrap{
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 70px;

}
.subtitle{
  font-size: 24px;
  text-align: center;
}

.pic{
  opacity: 0.7;
  transition: 0.3s;
}
.pic:hover{
  opacity: 1;
  display: inline-block;
}
.picbox{
  display: inline-block;
  margin-top:40px;
  margin-bottom: 90px;
  font-size: 0;
}
/* .picture img{
  opacity: 0.7;
  transition: 0.3s;
} */
/* .picture img:hover{
  opacity: 1;
} */
.picture{
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 80px;
}
.picture:nth-child(3n+1){
  margin-left: 0px;
}

.picture:nth-child(n+4){
  margin-bottom: 0px;
}
.email_wrap{
  text-align: center;
}
.subtext{
  text-align: center;
  display: inline-block;
  width: 520px;
}
.Email_btn{
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
  transition: 0.3s;
}
.Email_btn:hover{
  color: #333;
}

.skill_wrap{
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;;
  text-align: center;

}
.our{
  font-size: 24px;
  color: #FFF;
  text-align: center;
}
.ok{
  display: inline-block;
  margin-top: 70px;

}
.maru{
  display: inline-block;
  margin-left: 180px;
  color: #FFF;
  font-size: 16px;
}
.maru:first-child{
  margin: 0;
}
.maru_text{
  margin-top: 10px;
}
.bottom_wrap{
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}
.btn_list{
  text-align: center;
  font-size: 0;
}
.btn_list > li{
  display: inline-block;
}
.sns_btn{
  color: #74cfae;
  padding: 30px 10px;
  width: 160px;
  text-align: center;
  display: block;
  transition: 0.3s;
}
.sns_btn:hover{
  background-color: #FFF;
  color: #74cfae;
}
.icon{
  font-size: 40px;
}

.footer{
  padding-top:20px;
  padding-bottom: 25px;
  background-color: #74cfae;
  position: static;
}
.footertext{
  color: #FFF;
  text-align: right;
}

@media screen and (max-width:766px) {
.inner{
  margin: 0 auto;
  max-width: 97%;
}

.bolt_them_wrap {
  padding-top: 160px;
  padding-bottom: 130px;
}
.title{
  font-size: 80px;
}
.phone_wrap{
  text-align: center;
  padding-bottom: 25px;
}
.phone{
  margin-bottom: 20px;
}
.mainbox{
  width: auto;
  display: block;
}
.maintext__text{
  width: 100%;
  max-width: 290px;
}
.our_wrap{
  padding-top: 60px;
  padding-bottom: 70px;
}
.picbox{
  text-align: center;
  display: block;
}
.picture{
  display: block;
  margin: 0;
}
.picture:nth-child(3n){
  margin-bottom: 80px;
}
.picture:last-child{
  margin-bottom: 0px;
}
.subtext{
  display: block;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}
.Email_btn{
  margin-top: 40px;
  margin-left: 0;
}
.ok{
  display: block;
}
.maru{
  display: block;
  margin-left: 0;
  margin-bottom: 88px;
}
.maru:first-child {
  margin-bottom: 88px;
}
.maru:last-child {
  margin-bottom: 0;
}
.bottom_wrap{
  padding-top: 50px;
  padding-bottom: 50px;
}
.inner_sns{
  padding-left: 15px;
  padding-right: 15px;
}
.btn_list > li {
  display: block;
}
.sns_btn{
  width: 100%;
  padding: 30px 0px;
}

.header_btn{
  float: right;
  padding:  10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color:#FFF;
  margin-top: 5px;
}
.btn_bar{
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ccc;
}
.header_btn > .btn_bar:not(:first-child){
  margin-top: 4px;
}
.menu_btn{
  display: none;
}

}
@media screen and (min-width:767px) and ( max-width:1199px) {
.inner{
  margin: 0 auto;
  max-width: 97%;
}
.phone_wrap{
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
.phone{
  margin-bottom: 20px;
  display: block;
}
.mainbox{
  width: auto;
}
.maintitle__text{
  margin-bottom: 35px;
}
.maintext__text{
  width: 85%;
  max-width: 1199px;

}
.our_wrap{
  padding-top: 60px;
  padding-bottom: 70px;
}
.picbox{
  text-align: center;
  display: block;
}
.picture{
  display: block;
  margin: 0;
}
.picture:nth-child(3n){
  margin-bottom: 80px;
}
.picture:last-child{
  margin-bottom: 0px;
}
.subtext{
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 850px;
}
.Email_btn{
  margin-top: 40px;
  margin-left: 0;
}
.ok{
  display: block;
}
.maru{
  display: block;
  margin-left: 0;
  margin-bottom: 88px;
}
.maru:first-child {
  margin-bottom: 88px;
}
.maru:last-child {
  margin-bottom: 0;
}
